<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Cryptography toolbox{% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Cryptography"/>
    <meta name="keywords" content="cryptography, caesar, substitution, transposition"/>
    <meta name="author" content="Yan Urquiza"/>
    {% block stylesheets %}
        <!-- Favicon icon -->
        <link rel="icon" href="{{ asset('/assets/images/favicon/favicon.ico') }}" type="image/x-icon">
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="{{ asset('/assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('/assets/plugins/animation/css/animate.min.css') }}">
        <!-- vendor css -->
        <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/style/common.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    {% block javascripts %}
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{{ asset('/assets/js/vendor-all.min.js') }}"></script>
        <script src="{{ asset('/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/assets/js/pcoded.min.js') }}"></script>
    {% endblock %}
    {% block content %}{% endblock %}

    <script src="{{  asset('assets/js/horizontal-menu.js') }}"></script>
    <script src="{{  asset('javascript/common/layout.js') }}"></script>
    <script src="{{  asset('javascript/common/common.js') }}"></script>


    </script>
{% endblock %}

</body>
</html>
